* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #f4f4f4;
}

nav a:hover {
    color: #ddd;
}

#work img:first-child {
    width: 200px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

footer i {
    font-size: 24px;
    margin: 0 10px;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    color: #ff6347; /* Change color on hover */
}

@media screen and (max-width: 600px) {
    header, footer {
        text-align: center;
    }
}